
<div class="page-container" *ngIf="showPage===0">
  <ng-container *ngIf="(currentQuestionIndex<questions.length)&&(currentPlayerIndex<players.length )">
    <h1 class="deco"> Quel est le nom de ce personnage ?</h1>
    <img [src]="path+questions[currentQuestionIndex].name_img+'.png'" alt="Description de l'image" class="game-image">
    <h2> Joueur " {{ players[currentPlayerIndex].pseudo }}": Faites votre choix </h2>
    <ng-container *ngFor="let response of reponseShuffled">
      <ul>
        <li><button class="button" (click)="scorCalculation(response)">{{response}}</button></li>
      </ul>
    </ng-container>
  </ng-container>
</div>


<div class="page-container" *ngIf="showPage === 1">
  <h1 class="deco">Podium</h1>
  <div class="rectangle-container">
    <div *ngFor="let height of rectangleHeights;  let i = index" class="rectangle-wrapper">
      <table>
        <tr>
          <td>{{playerClassementArray[i][0] }}</td> <!-- Pseudo -->
          <td>{{playerClassementArray[i][1] }}</td> <!-- Scor -->
        </tr>
      </table>
      <div class="rectangle" [@increaseHeight]="{ value: 'active', params: { finalHeight: height }}" [ngStyle]="getRectangleStyle(i)" (@increaseHeight.done)="onAnimationEnd($event)">
        <h1 class="congratulations" *ngIf="showCongratulations===1">Félicitations <span class="winner">{{ playerClassementArray[0][0] }}</span> !</h1>
        <h1 class="congratulations" *ngIf="showCongratulations===2">Bravo <span class="winner">Ex aequo</span> !</h1>
      </div>
    </div>
    <div class="container" (click)="launchConfetti()">
      <div class="confetti" *ngFor="let conf of confettis; let i = index" [style.left]="conf.x + 'px'" [style.top]="conf.y + 'px'" [style.background-color]="conf.color"></div>
    </div>
  </div>
  <button class="button" [routerLink]="'/choice'" (click)="saveGame()">Rejouer</button>
  <button class="button" routerLink="" (click)="saveGame()">Acueil</button>

</div>

