
<div class="page-container" *ngIf="showPage===0">
  <ng-container *ngIf="(currentQuestionIndex<questions.length)&&(currentPlayerIndex<players.length )">
    <h1 class="deco"> Quel est le nom de ce personnage ?</h1>
    <img [src]="path+questions[currentQuestionIndex].name_img+'.png'" alt="Description de l'image" class="game-image">
    <h2> Joueur " {{ players[currentPlayerIndex].pseudo }}": Faites votre choix </h2>
    <ng-container *ngFor="let response of reponseShuffled">
      <ul>
        <li><button class="button" (click)="scorCalculation(response)">{{response}}</button></li>
      </ul>
    </ng-container>
  </ng-container>
</div>


<!--<div *ngFor="let question of questions">


  <img [src]="path+question.name_img+'.png'" alt="Description de l'image" class="game-image">
  <button class="button" (click)="display()">Confirmer</button>
</div>

<div *ngIf="showPage===1">

    <table>
      <thead>
      <tr>
        <th>Pseudo</th>
        <th>Score</th>
        <th>Classement</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players">
        <td>{{ player.pseudo }}</td>
        <td>{{ player.score }}</td>
        <td>{{ player.classement }}</td>
        <td>
      </tr>
      </tbody>
    </table>
</div>

<div *ngIf="showPage === 1">
  <div class="rectangle-container">
    <div class="rectangle" *ngFor="let height of rectangleHeights; let i = index" [@increaseHeight]="{ value: 'active', params: { finalHeight: height }}" [ngStyle]="getRectangleStyle(i)">

    <ul>
      <li>PSEUDO 1</li>
    </ul>
    </div>
  </div>
</div>

<div *ngIf="showPage === 1">
  <div class="rectangle-container">
    <div *ngFor="let height of rectangleHeights; let i = index" class="rectangle-wrapper">
      <ul>
        <li>{{ players[i].pseudo }}   {{ players[i].score }}  {{ players[i].classement }}</li>
      </ul>
      <div class="rectangle" [@increaseHeight]="{ value: 'active', params: { finalHeight: height }}" [ngStyle]="getRectangleStyle(i)">
      </div>
    </div>
  </div>
</div>-->

<div class="page-container" *ngIf="showPage === 1">
  <h1 class="deco">Podium</h1>
  <div class="rectangle-container">
    <div *ngFor="let height of rectangleHeights;  let i = index" class="rectangle-wrapper">
      <table>
        <tr>
          <td>{{playerClassementArray[i][0] }}</td> <!-- Pseudo -->
          <td>{{playerClassementArray[i][1] }}</td> <!-- Scor -->
        </tr>
      </table>
      <div class="rectangle" [@increaseHeight]="{ value: 'active', params: { finalHeight: height }}" [ngStyle]="getRectangleStyle(i)">
      </div>
    </div>
  </div>
  <button class="button" [routerLink]="'/choice'" (click)="saveGame()">Rejouer</button>
</div>
