<header>
  <img src="assets/Titre.png" alt="Logo Netflix" class="logo">
</header>

<video autoplay="autoplay" muted="muted" loop="infinite" src="assets/VD_NETFLIX.mp4" id="bgvid" class='fillWidth'></video>

<div id="Aide">
  <h2>Cliquer sur Le bouton pour accéder à la page d'accueil </h2>
  <h3>Sur la barre de navigation à votre disposition deux boutons : </h3>
  <ul>
    <li>
      <button class="button" routerLink="choice"> COMMENCER </button>
    </li>
  </ul>
  <h3>Comment ça marche ?</h3>
  <p>AIDE</p>

</div>
