

body {
 background-color: #000;
  font-family: "Netflix Sans", Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2
{
  color: #FFFFFF;
  padding-bottom: 150px;
  text-align: center;
}
.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  z-index: -1;
  overflow: hidden;
  background-size: cover;
}
video {
  display: block;

}
.button {
  text-align: center;
  font-family: "Netflix Sans", Arial, sans-serif; /* Utilisation de la police Netflix */
  background-color: #e50914; /* Rouge Netflix */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;

}

.button:hover {
  transform: translateY(-5px);
}


#Aide{
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}
