
<div *ngIf="showPage===0" class="Accueil">
  <div class="Bouton-Affichage">
    <button class="BTN_NET" routerLink="../player">Modifier les users</button>
    <button class="BTN_NET" (click)="ModifierPage()">Modifier les questions</button>
    <button class="BTN_NET" (click)="togglePage(4)">Historique de parties</button>
  </div>
</div>


<div *ngIf="showPage===1" class="Category">
  <button class="BTN_NET" (click)="ArrierePage()">Retour à la page précédente</button>
  <h1 class="deco">Choix de la catégorie</h1>
  <div class="Bouton-Affichage">
    <div *ngFor="let categorie of category">
      <button class="BTN_NET" (click)="selectIdCategory(categorie.id_category)">{{categorie.name}}</button>
    </div>
  </div>
</div>

<div *ngIf="showPage===2">
  <button class="BTN_NET" (click)="ArrierePage()">Retour à la page précédente</button>
  <br>
  <button class="BTN_NET" (click)="QuestionPage()"> Ajouter une question</button>
  <div class="Questions">
    <div *ngFor="let question of question" class="Elem">
       <div *ngIf="question.id_cat===currentCategory" class="question-content">
         <img [src]="path+question.name_img+'.png'" alt="Description de l'image" class="game-image">
        <a mat-raised-button color="primary" [routerLink]="['../question-details/',question.id_question,question.id_res]">Modify</a>
        <button mat-icon-button color="warn" (click)="SupprimerQuestion(question.id_question)" ><mat-icon>delete</mat-icon></button>
       </div>
     </div>
  </div>

</div>


<div *ngIf="showPage===3">
  <p>Ghita est au top</p>
  <button class="BTN_NET" (click)="ArrierePage()">Retour à la page précédente</button>
  <div class="form-container">
    <div>Pour de nouvelles questions :</div>
    <ul>
      <li *ngFor="let Nom of NomsImages">
        {{Nom}}
      </li>
    </ul>

    <div>Pour d'anciennes questions avec différentes réponses:</div>
    <ul>
      <div *ngFor="let Q of question; ">
        <li><ng-container *ngIf="Q.id_cat === currentCategory">
          {{ Q.name_img }}
        </ng-container>
        </li>

      </div>
    </ul>


    <form (ngSubmit)="AjouterQuestion()" id="questionResponseForm">

      <h2>Question</h2>
      <label for="name_img">Nom de l'image:</label>
      <input type="text" id="name_img" [(ngModel)]="NewQuest.name_img" name="name_img" required>

      <h2>Réponse</h2>
      <label for="resp1">Réponse 1:</label>
      <input type="text" id="resp1" [(ngModel)]="NewRep.resp1" name="resp1" required>

      <label for="resp2">Réponse 2:</label>
      <input type="text" id="resp2" [(ngModel)]="NewRep.resp2"  name="resp2" required>

      <label for="resp3">Réponse 3:</label>
      <input type="text" id="resp3" [(ngModel)]="NewRep.resp3"  name="resp3" required>

      <label for="good_resp">Bonne réponse:</label>
      <input type="text" id="good_resp" [(ngModel)]="NewRep.good_resp" name="good_resp" required>

      <button type="submit">Soumettre</button>
    </form>
  </div>

</div>

<div *ngIf="showPage===4">
  <button class="BTN_NET" (click)="togglePage(0)">Retour à la page précédente</button>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>ID Catégorie</th>
      <th>ID Joueur 1</th>
      <th>Score Joueur 1</th>
      <th>ID Joueur 2</th>
      <th>Score Joueur 2</th>
      <th>ID Joueur 3</th>
      <th>Score Joueur 3</th>
      <th>ID Joueur 4</th>
      <th>Score Joueur 4</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games">
      <td>{{ game.id_game }}</td>
      <td>{{ game.id_cat }}</td>
      <td>{{ game.id_p1 }}</td>
      <td>{{ game.p1_score }}</td>
      <td>{{ game.id_p2 }}</td>
      <td>{{ game.p2_score }}</td>
      <td>{{ game.id_p3 !== null ? game.id_p3 : 'none' }}</td>
      <td>{{ game.p3_score }}</td>
      <td>{{ game.id_p4 !== null ? game.id_p4 : 'none' }}</td>
      <td>{{ game.p4_score }}</td>
    </tr>
    </tbody>
  </table>
</div>

