table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
}
li{
  font-family: "Netflix Sans", Arial, sans-serif;
  font-weight: bold;
}
th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.BTN_NET {
  min-width: 250px;
  background-color: #e50914; /* Rouge Netflix */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Netflix Sans", Arial, sans-serif;
  font-weight: bold; /* Texte en gras */
  margin-top: 20px; /* Marge en haut pour l'espacement */
  margin-right: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s; /* Transition douce pour le survol */
}
.Accueil
{
  width: 100%; /* Largeur du div */
  height: 100vh; /* Hauteur du div */
  background-image: url('/assets/Image_test.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* L'image couvre tout le div */
}
.Category
{
  width: 100%; /* Largeur du div */
  height: 100vh; /* Hauteur du div */
  background-image: url('/assets/Affiche.jpg');
}
.Bouton-Affichage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1
{
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  font-family: "Netflix Sans";
  font-weight: bold;
  font-size: 40px;
}


.Questions {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
  justify-content: space-between; /* Espace uniforme entre les éléments */
}

.Elem {
  width: calc(25% - 10px); /* Pour afficher maximum 4 éléments par ligne avec un espace entre les éléments */
  margin-bottom: 3px; /* Espace entre les lignes */
  box-sizing: border-box; /* Pour inclure les marges dans la largeur */
}

.question-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu horizontalement */
}

.game-image {
  width: 100%; /* Ajuster la largeur de l'image */
  height: 400px;
}

a, button {
  margin-top: 10px; /* Espace entre l'image et les boutons */
}



/* Conteneur principal pour le formulaire */
.form-container {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  display: inline-flex;
}

.Texte
{
  font-family: "Netflix Sans", Arial, sans-serif;
  font-weight: bold; /* Texte en gras */
  margin: 5px;
  margin-left: 5px;
}
h2 {
  color: #333;
  border-bottom: 2px solid #DC143C;
  padding-bottom: 4px;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

/* Mettre en évidence les titres des sections */
h2 {
  color: #333;
  border-bottom: 2px solid #dc143c;
  padding-bottom: 4px;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  margin-bottom: 20px; /* Plus d'espace sous le bouton Soumettre */
}

span {
  color: #666;
  font-weight: bold;
}
