<!--


<p>player works!</p>
<div *ngFor="let player of player">
 <p>Pseudo : {{player.pseudo}} -- Score : {{player.score}} -- Classement : {{player.classement}}</p>
</div>


  <form (ngSubmit)="addPlayer()">
    <div class="form-group">
      <label for="pseudo">Pseudo:</label>
      <input type="text" id="pseudo" class="Zone" [(ngModel)]="newPlayerPseudo" name="pseudo" required>
    </div>
    <button type="submit" class="BTN_NET">Ajouter le joueur</button>
  </form>

  <div *ngFor="let player of player">
    {{ player.pseudo }} - {{ player.score }}
    <button class="BTN_NET" (click)="deletePlayer(player.id_player)">Supprimer</button>
    <form (ngSubmit)="updatePlayer()">
      <div>
        <label for="pseudo">Pseudo:</label>
        <input type="text" id="Npseudo" [(ngModel)]="selectedPlayer.pseudo" name="pseudo">
      </div>
      <div>
        <label for="score">Score:</label>
        <input type="number" id="score" [(ngModel)]="selectedPlayer.score" name="score">
      </div>
    </form>
      <button class="BTN_NET" (click)="selectPlayer(player)">Modifier</button>

  </div>
-->




<p>player works!</p>


<div *ngIf="showPage===0">

  <ul>
    <li><button class="BTN_NET" (click)="togglePage(1)" >Afficher les users</button></li>
    <li><button class="BTN_NET" (click)="togglePage(2)"  >Modifier les users</button></li>
    <li><button class="BTN_NET"  (click)="togglePage(3)" >Supprimer les users</button></li>
  </ul>
</div>

<div *ngIf="showPage===1">
  <button (click)="togglePage(0)" >Retour à la page précédente</button>

  <form (ngSubmit)="addPlayer()">
    <div class="form-group">
      <label for="pseudo">Pseudo:</label>
      <input type="text" id="pseudo" class="Zone" [(ngModel)]="newPlayerPseudo" name="pseudo" required>
    </div>
    <button type="submit" class="BTN_NET">Ajouter le joueur</button>
  </form>
  <div *ngIf="verificationAjout">
    <p class="deco">Le pseudo est déjà utilisé :( Veuillez en choisir un nouveau !</p>
  </div>

  <table>
    <thead>
    <tr>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Classement</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.pseudo }}</td>
      <td>{{ player.score }}</td>
      <td>{{ player.classement }}</td>
      <td>
  </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showPage===2">
  <button (click)="togglePage(0)" >Retour à la page précédente</button>
  <table>
    <thead>
    <tr>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Classement</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.pseudo }}</td>
      <td>{{ player.score }}</td>
      <td>{{ player.classement }}</td>
      <td>
        <button class="btn-net" (click)="selectPlayer(player)">Modifier</button>
        <button class="btn-net" (click)="deletePlayer(player.id_player)">Supprimer</button>
        <div *ngIf="selectedPlayer && selectedPlayer.id_player === player.id_player &&VerfiModif">
          <form (ngSubmit)="updatePlayer(player)">
            <div>
              <label for="pseudo-{{player.id_player}}">Pseudo:</label>
              <input type="text" id="pseudo-{{player.id_player}}" [(ngModel)]="selectedPlayer.pseudo" name="pseudo">
            </div>
            <div>
              <label for="score-{{player.id_player}}">Score:</label>
              <input type="number" id="score-{{player.id_player}}" [(ngModel)]="selectedPlayer.score" name="score">
            </div>
            <button type="submit" class="BTN_NET">Mettre à jour le joueur</button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div *ngIf="showPage===3">
  <button (click)="togglePage(0)" >Retour à la page précédente</button>
  <div *ngFor="let player of players"> <!-- Assurez-vous que la propriété dans votre composant est nommée 'players' -->
    <p>Pseudo : {{player.pseudo}} -- Score : {{player.score}} -- Classement : {{player.classement}}
      <button class="BTN_NET" (click)="selectPlayer(player)">Modifier</button>
      <button class="BTN_NET" (click)="deletePlayer(player.id_player)">Supprimer</button>
    </p>
</div>

</div>
