
.BTN_NET:hover {
  background-color: #f40612; /* Rouge un peu plus clair au survol */
}
.zone {
  background-color: white; /* Fond blanc */
  color: #E50914; /* Écriture rouge */
  border: 2px solid #E50914; /* Bordure rouge pour rester dans le thème */
  border-radius: 4px; /* Coins légèrement arrondis */
  padding: 10px; /* Espacement à l'intérieur de la zone */
  margin-top: 20px; /* Marge au-dessus pour espacer des autres éléments */
  font-family: 'Arial', sans-serif; /* Police de caractère, Arial est assez neutre et professionnel */
  font-size: 16px; /* Taille de la police pour améliorer la lisibilité */
}
body {
  font-family: Arial, sans-serif;


}

.btn-net {
  background-color: #8B0000; /* Rouge Netflix */
  color: white; /* Texte blanc */
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  border-radius: 4px;
  font-weight: bold;
}

.btn-net:hover {
  background-color: #f40612;
}

.deco{
  color: red;
  font-weight: bold;
}
table {
  margin-top: 20px;
  vertical-align: center;

  tbody {
    :hover {
      cursor: pointer;
    }
  }
}
form {
  max-width: 500px; /* Limite la largeur du formulaire */
  margin: 20px auto; /* Centre le formulaire horizontalement et ajoute de la marge autour */
  padding: 20px; /* Espace à l'intérieur du formulaire */
  background: #f7f7f7; /* Couleur de fond du formulaire */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre portée pour un effet élévé */
  text-align: center;
}

/* Style du groupe de formulaire */
.form-group {
  margin-bottom: 20px; /* Espace entre les champs de formulaire */
}

/* Style du label */
label {
  display: block; /* Rend le label un bloc pour prendre toute la largeur */
  margin-bottom: 5px; /* Espace sous le label */
  font-weight: bold; /* Rend le texte du label gras */
  color: #333; /* Couleur du texte du label */
}

/* Style des zones de texte */
.Zone {
  width: 100%; /* La zone de texte prend toute la largeur disponible */
  padding: 10px; /* Remplissage interne pour rendre la saisie de texte confortable */
  border: 1px solid #ccc; /* Bordure subtile pour la zone de texte */
  border-radius: 4px; /* Coins légèrement arrondis pour la zone de texte */
  box-sizing: border-box; /* S'assure que le padding et la bordure sont inclus dans la largeur */
}

.BTN_NET {

  min-width: 250px;

  font-family: "Netflix Sans", Arial, sans-serif;
  background-color: #e50914; /* Rouge Netflix */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold; /* Texte en gras */
  margin-top: 20px; /* Marge en haut pour l'espacement */
  margin-right: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s; /* Transition douce pour le survol */
}
.Bouton-Affichage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Accueil
{
  width: 100%; /* Largeur du div */
  height: 100vh; /* Hauteur du div */
  background-image: url('/assets/Image_test.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* L'image couvre tout le div */
}
.Ajout
{
  width: 100%; /* Largeur du div */
  height: 100vh; /* Hauteur du div */
  background-image: url('/assets/soiree_ac.jpg');
}
.Modif
{
  width: 100%; /* Largeur du div */
  height: 100vh; /* Hauteur du div */
  background-image: url('/assets/soiree_ac.jpg');
}
.Contain-Table
{
  background: #f7f7f7; /* Couleur de fond du formulaire */
  border-radius: 8px; /* Coins arrondis */
}
